/Users/HOME/Desktop/Documents/Lavoro/Programmazione/Untitled.ipynb
/Users/HOME/Desktop/Documents/Lavoro/Programmazione/Test_project
/Users/HOME/Desktop/Documents/Lavoro/Programmazione/ssh
/Users/HOME/Desktop/Documents/Lavoro/Programmazione/sqlite-tools-osx-x86-3360000
/Users/HOME/Desktop/Documents/Lavoro/Programmazione/Python
/Users/HOME/Desktop/Documents/Lavoro/Programmazione/JavaScript
/Users/HOME/Desktop/Documents/Lavoro/Programmazione/GIT_ANDREA
/Users/HOME/Desktop/Documents/Lavoro/Programmazione/Documenti_locale
/Users/HOME/Desktop/Documents/Lavoro/Programmazione/CW4-Materiali-Day2